{{define "index"}}
{{template "layout" .}}
{{end}}

{{define "content"}}
    <center>
        <h1>Welcome, {{.Username}}</h1>

        <!-- Create Room button -->
        <div style="margin-top: 20px;">
            <form action="/create-room" method="POST">
                <button type="submit">Create New Room</button>
            </form>
        </div>

        <!-- Room buttons container -->
        <br>
        <div>
            {{range $id, $room := .Rooms}}
            <a href="/rooms/{{$id}}">
                <button>Room {{$room.RoomIndex}}</button>
            </a>
            {{else}}
            <p>No rooms available</p>
            {{end}}
        </div>
    </center>
{{end}}