{{template "layout" .}}
{{define "content"}}
    <h1>Welcome, {{if .Username}}{{.Username}}{{else}}Guest{{end}}</h1>
    
    <div style="margin-top: 20px;">
        <form action="/create-room" method="POST">
            <button type="submit">Create New Room</button>
        </form>
    </div>
    
    <br>
    <div>
        {{range $id, $room := .Rooms}}
        <a href="/rooms/{{$id}}">
            <button>Room {{$room.RoomIndex}}</button>
        </a>
        {{else}}
        <p>No rooms available</p>
        {{end}}
    </div>
{{end}}